.chatlist li {
    border-radius: 5px !important;
}

.bubble .bubble-content, .chat-input-wrapper {
    border-radius: 5px !important;
}

.bubble-tail {
    display: none !important;
}

.bubble.is-out {
    flex-direction: inherit !important;
}

.bubble.is-out .bubble-content-wrapper {
    transform: scale(1) translateX(0) !important;
}

.bubbles-inner.is-chat .is-in .bubble-content-wrapper {
    margin-left: 0 !important;
}

.bubbles-inner {
    max-width: 80% !important;
    width: 100% !important;
}

.chat .chat-input {
    width: 100% !important;
    max-width: none !important;
}

.chat-input-container {
    max-width: none !important;
}

.message {
    max-width: none !important;
}

.chat-input {
    --padding-bottom: 0.5rem !important;
}
